.project
.git
.externalToolBuilders
web/uploads/*
log/*.log
log/*.pid
cache/*
config/databases.yml
config/sphinx.conf
lib/vendor/**
data/films.*
.tmp_*
data/sphinx/*
lib/XmlParser.class.php
lib/task/updateAfishaTask.class.php
web/bill_export.phtml
web/bill_export.phtml.1
apps/frontend/config/app.yml
apps/backend/config/app.yml
