input.ajax_input_error{
	background-color: #FCF6D0 !important;
	border:1px solid #F00 !important
}

input.ajax_input_notice{
	background-color: #FCF6D0 !important;
	border:1px solid #060 !important
}

.round {
position:relative !important;
z-index:49;
border-bottom:2px solid #fcc863;
background:#FFF
}

.round:before {
content:"";
display:block;
width:11px;
height:12px;
background:url(data:image/gif;base64,R0lGODlhCwAMANUkAPb29vzIY+bm5snJyd3Invb19Pn5+ezs7Nvb283NzPndpvjnx/vRgNLItNrIpsvIwvvOePvIZPf39/zLbNnZ2fb18/ndpdjX1fT09PjmxPTMgOLQreXIkPrYlfjnxvX19dra2vXIcPjmwuvIhP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACQALAAAAAALAAwAAAZDwISBRCwWLwejUoBQGj+DoZME2DSnABFBgK1oBlwlAJAJESgS4xhgCXAGoAOGOi4oApGRo/FYjxcQAYIBfnUeHQwTQQA7) no-repeat;
position:absolute;
left:0;
bottom:-2px;
z-index:50
}

.round:after {
content:"";
display:block;
width:11px;
height:12px;
background:url(data:image/gif;base64,R0lGODlhCwAMANUkAPb29vzIY+bm5snJyd3Invb19Pn5+ezs7Nvb283NzPndpvjnx/vRgNLItNrIpsvIwvvOePvIZPf39/zLbNnZ2fb18/ndpdjX1fT09PjmxPTMgOLQreXIkPrYlfjnxvX19dra2vXIcPjmwuvIhP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACQALAAAAAALAAwAAAZFQJJwODQkiMjDBUlECJhCw+ADJSE2AKiAIMoiBQNNxSuUUAihDCCLOYAGnIBlDXg0HKNIQFGgB/4BEAt0axMMHR59hABBADs=) no-repeat;
position:absolute;
right:0;
bottom:-2px;
z-index:50
}

.round .r_container {
border:1px solid #c8c8c8;
height:100%;
margin:0;
padding:1em 2em
}

.round .r_container:before {
content:"";
display:block;
width:10px;
height:10px;
background:url(data:image/gif;base64,R0lGODlhCgAKAMQXAPb29t/f38vLy+Hh4dbW1u/v7/v7++Dg4PX19evr6/Dw8NTU1Ojo6N7e3tjY2Ozs7MrKyvT09MnJyfPz8/r6+uPj483Nzf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABcALAAAAAAKAAoAAAUsICCO07BII4A0wqBcI0McxmWLCVTYvOg8vF4gEORFBJSirUJUXgg7p8VpCwEAOw==) no-repeat;
position:absolute;
left:0;
top:0;
z-index:51
}

.round .r_container:after {
content:"";
display:block;
width:10px;
height:10px;
background:url(data:image/gif;base64,R0lGODlhCgAKAMQXAPb29t/f38vLy+Hh4dbW1u/v7/v7++Dg4PX19evr6/Dw8NTU1Ojo6N7e3tjY2Ozs7MrKyvT09MnJyfPz8/r6+uPj483Nzf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABcALAAAAAAKAAoAAAUtoEVUEWCeVxEIwWleMBU4CQrDD8S8N1wQCEDvdmgIhxeDYIKEDQbNi2IRvUhCADs=) no-repeat;
position:absolute;
right:0;
top:0;
z-index:51
}

.top_plate {
position:absolute;
left:1em;
top:-3px;
height:18px;
font-size:1em;
background:url(/images/plates.png) right top no-repeat;
color:#FFF;
text-decoration:none;
padding:0 1em
}

.top_plate a {
color:#FFF;
text-decoration:none
}

html {
font-size:10pt
}

body {
font-size:1em;
font-family:"Helvetica Neue", Helvetica, "Myriad Pro", Myriad, Arial, sans-serif;
line-height:1.4em;
quotes:"«" "»";
color:#000;
background:#535353
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
color:#666
}

h1 {
font-size:2em;
line-height:1em;
margin-bottom:0.5em
}

h2 {
font-size:1.6em;
margin-bottom:0.75em
}

h3 {
font-size:1.3em;
line-height:1;
margin-bottom:0.5em
}

h4 {
font-size:1em;
line-height:1.25;
margin-bottom:1.25em;
font-weight:700;
color:#535353
}

h5 {
font-size:1em;
margin-bottom:1.5em;
font-weight:700;
color:#535353
}

h6 {
font-size:1em;
font-weight:700;
color:#535353
}

p img.left {
float:left;
margin:1.5em 1.5em 1.5em 0;
padding:0
}

p img.right {
float:right;
margin:1.5em 0 1.5em 1.5em
}

a {
color:#779d1d;
text-decoration:underline
}

a:focus,a:hover {
color:#98c825 !important;
text-decoration:none
}
/*
a:visited {
color:#808d60
}
*/
cite {
color:#4d4d4d;
font-style:normal;
font-size:0.9em;
display:block;
margin:0 0 0.5em 1em
}

blockquote {
width:56%;
margin-right:1%;
margin-left:1%;
float:none;
background:#FFF;
border:1px solid;
position:relative;
min-height:3em;
margin-bottom:2em;
border-color:#ddd;
padding:1em 3em
}

blockquote:before {
content:"«";
font-size:4em;
line-height:0.5em;
color:#fcc863;
position:absolute;
top:0.36em;
left:1px;
font-family:Tahoma, Arial, sans-serif
}

blockquote:after {
content:"»";
font-size:4em;
line-height:0.5em;
color:#fcc863;
position:absolute;
bottom:0.36em;
right:1px;
font-family:Tahoma, Arial, sans-serif
}

em {
font-style:italic
}

dfn {
font-style:italic;
font-weight:700
}

sup,sub {
line-height:0
}

abbr,acronym {
border-bottom-width:1px;
border-bottom-style:dotted;
border-bottom-color:#fcc863
}

address {
font-style:normal;
margin:0 0 1.5em
}

del {
color:#fcc863;
text-decoration:line-through
}

pre {
margin:1.5em 0
}

code,tt {
font:1em 'andale mono', 'lucida console', monospace;
line-height:1.5
}

samp {
font:1em 'andale mono', 'lucida console', monospace
}

.intext_img_l {
float:left;
margin:0.5em 1em 0.5em 0
}

.intext_img_r {
float:right;
margin:0.5em 0 0.5em 1em
}

ul,ol {
padding-left:1em;
margin:0 1.5em 1.5em 0
}

ul {
list-style-type:disc
}

ul ul {
list-style-type:circle
}

ul ul ul {
list-style-type:square
}

ol {
list-style-type:decimal;
counter-reset:list1
}

ol li {
list-style-type:none !important
}

ol li:before {
counter-increment:list1;
content:counter(list1) ". "
}

ol ol {
counter-reset:list2
}

ol ol li:before {
counter-increment:list2;
content:counter(list1) "." counter(list2) ". "
}

ol ol ol {
counter-reset:list3
}

ol ol ol li:before {
counter-increment:list3;
content:counter(list1) "." counter(list2) "." counter(list3) ". "
}

dd {
margin-left:1.5em
}

table {
  border: 0;
  width: 100%;
  margin: 1em 0 1em 0;
  padding: 0; }
  table thead td, table thead th {
    background: #dddddd;
    text-align: left;
    padding: 0.5em;
    vertical-align: top;
    font-weight: bold; }
    table thead td address, table thead th address {
      font-size: 0.7em;
      font-style: normal;
      font-weight: normal; }
  table tfoot td, table tfoot th {
    padding: 0.5em;
    vertical-align: middle; }
  table tfoot td, table tfoot th {
    text-align: right;
    border-top: 10px solid;
      border-top-color: #dddddd; }
  table tbody th, table tbody td {
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
    border-bottom: 1px dashed;
      border-bottom-color: #c3c3c3; }
  table tbody tr:hover {
    background: #e9e9e9; }

fieldset {
border:1px solid;
border-color:#b3b3b3;
margin:0 0 1.5em;
padding:1.4em
}

legend {
font-weight:700;
font-size:1.2em
}

input[type=text],input[type=password],input[type=file],input.text,input.title,input.file {
background-color:#FFF;
border:1px solid;
font-size:1.4em;
padding-top:0.1em;
padding-bottom:0.1em;
font-family:"Helvetica Neue", Helvetica, "Myriad Pro", Myriad, Arial, sans-serif;
border-color:#c3c3c3
}

input.but {
width:auto !important;
background:#fcc863;
border-top:solid 1px;
border-right:solid 1px;
border-bottom:solid 1px;
border-left:solid 1px;
color:#FFF;
border-color:#fdda95 #fcbf4a #fbb631 #fcd17c;
padding:0.25em 0.5em
}

textarea,select {
background-color:#FFF;
border:1px solid;
font-size:1.3em;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
border-color:#000;
margin:0.5em 0
}

select {
max-height:10em
}

form .rows {
width:auto !important;
margin:1em 0
}

form .rows input {
width:auto
}

form div,form .rows div {
width:300px
}

form div input,form div select,form div textarea,form .rows div input,form .rows div select,form .rows div textarea {
width:100%;
background:#FFF;
border:1px solid;
border-color:#ddd;
margin:0 0 0.5em
}

form div select,form .rows div select {
overflow:hidden
}

form div.texter,form .rows div.texter {
width:560px
}

input[type=checkbox],input[type=radio],input.checkbox,input.radio {
position:relative;
top:.05em;
width:auto !important
}

input[type=button],input[type=submit], a.button {
background:#98c825 !important;
color:#FFF !important;
border:none !important;
width:auto !important;
font-size:1.3em !important;
cursor:pointer !important;
margin-top:0.5em !important;
padding-top:0.15em !important;
padding-bottom:0.15em !important
}

a.button{
	display:inline-block;
	text-decoration:none;
	padding:0.3em 0.5em !important
}

input[type=button]:hover,input[type=submit]:hover, a.button:hover {
background:#afdc44 !important
}

input[type=button].big,input[type=submit].big {
font-size:1.5em;
margin-top:0.5em;
padding:0.25em
}

form.inline {
line-height:3
}

.form_info {
margin-left:320px;
width:auto !important;
padding-left:20px;
border-left:1px solid;
border-left-color:#535353
}

.drag {
cursor:move
}

div.drag_right {
cursor:move;
margin-left:4px;
float:left;
width:20px;
}

a.drag_right {
cursor:move;
width:20px;
}

.add_film_listers {
width:100%;
text-align:right
}

.tip {
color:#535353;
font-size:0.9em;
position:relative;
top:-0.75em
}

.error_list {
list-style:none;
border:1px solid;
width:100%;
margin:0;
padding:0
}

.error_list li {
margin:0;
padding:0.5em 1em
}

.error,.notice,.success {
border:2px solid #ddd;
position:relative;
top:1em;
float:left;
width:92%;
margin-right:0;
margin-left:0;
left:4%;
margin-bottom:1em;
}

.error div,.notice div,.success div {
margin:1em
}

.error,.error_list {
background:#b02727 !important;
color:#fff !important;
border-color:#fcc863 !important
}

.notice {
background:#FFF6BF;
color:#514721;
border-color:#FFD324
}

.success {
background:#fcf6d0;
color:#000;
border-color:#090
}

.error a,.error_flag a {
color:#fff !important
}

.error a:hover,.error_flag a:hover {
color:#f4afa6 !important
}

.notice a {
color:#514721
}

.notice a:hover {
color:#99873f !important
}

.success a {
color:#264409
}

.success a:hover {
color:#589e15 !important
}

#supervisor {
width:100%;
padding-left:0;
padding-right:0;
margin-left:auto;
margin-right:auto;
background:#f6f6f6 url(data:image/gif;base64,R0lGODlhCwABALMAAE9PT7a2tk5OTklJSUtLS6KiorCwsFJSUkZGRkJCQlFRUQAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAALAAEAAAQJ8CggyEApmBIBADs=) left repeat-y;
min-width:970px;
max-width:1200px
}

#supervisor2 {
background:url(data:image/gif;base64,R0lGODlhCwABALMAAE9PT7a2tk5OTklJSUtLS6KiorCwsFJSUkZGRkJCQlFRUQAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAALAAEAAAQJsJiQ0CACqBMBADs=) right repeat-y
}

#top {
height:140px;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADFJREFUeNpiunr1KhMDAwMTIyMjUTQMk6qekBpC9pCqD5c6UvSTagY+cwj5DcoHCDAA1YADq7Cbv9MAAAAASUVORK5CYII=) top repeat-x;
margin:0 11px
}

#top #feeds {
padding-left:75%;
float:left;
width:23%;
margin-right:1%;
margin-left:1%;
height:16px
}

#top #feeds #rss {
display:inline-block;
margin-right:1em;
margin-top:0;
font-size:12px;
line-height:19px;
height:18px;
background:url(/images/plates.png) right -30px no-repeat;
padding:0 0 0 1em
}

#top #feeds #rss a {
color:#FFF;
text-decoration:none;
margin-right:1em;
padding-left:12px
}

#top #feeds #rss a.rss {
background:url(data:image/gif;base64,R0lGODlhCQAJALMPAP///8PDw/Pz85ycnM7OznV1deHh4ZSUlK2trebm5pmZmejo6ODg4L6+vrGxsTk5OSH5BAEAAA8ALAAAAAAJAAkAAAQnMIAJSHlPUiMu/kPTaQM2GIQmlM/0BQLRAgpzzPMCJPjkCIhMQBgBADs=) left no-repeat
}

#top #feeds #rss a.atom {
background:url(data:image/gif;base64,R0lGODlhCQAJALMNAP///8PDw5ycnLGxsXV1deDg4Obm5pmZmfPz8319fa2trZSUlOjo6Dk5OQAAAAAAACH5BAEAAA0ALAAAAAAJAAkAAAQjMIAJRLv4BkGanFZiZZsnfFYJYGoDHMXizgADGLQ7IIrnBxEAOw==) left no-repeat
}

#top #feeds #twitter {
display:inline-block;
font-size:12px;
line-height:19px;
height:18px;
background:url(/images/plates.png) right -55px no-repeat;
padding:0 0 0 1em
}

#top #feeds #twitter a {
color:#FFF;
text-decoration:none;
margin-right:1em
}

#top #logo {
float:left;
width:15%;
margin-right:1%;
margin-left:1%;
padding-left:4%;
padding-right:4%;
height:95px
}

#top #menu_2 {
float:left;
width:40%;
margin-right:1%;
margin-left:1%;
margin-top:3em
}

#top #menu_1 {
float:left;
width:73%;
margin-right:1%;
margin-left:1%;
margin-top:0.5em;
font-size:1.5em
}

#top #menu_1 ul li {
display:inline;
margin:0;
padding:0
}

#top #menu_1 a {
color:#98c825
}

#top #menu_1 span,#top #menu_1 a {
padding:0 0.3em 0 0
}

#top #top_search {
float:left;
width:27%;
margin-right:1%;
margin-left:1%;
margin-top:3em
}

#top #top_search form div {
position:relative
}

#top #top_search form div .loader {
position:absolute;
right:-4px;
height:20px;
width:23px;
text-align:center;
padding-top:3px;
background:url(/images/search_bg2.png) right no-repeat
}

#top #top_search form div input {
float:left;
width:98%;
height:19px;
color:gray;
background:url(/images/search_bg2.png) left no-repeat;
border:0;
font-size:1em;
margin:0;
padding:4px 0 0 10px
}

#top #top_search form div input:focus {
outline:none
}

#top #top_search form div .autocomplete {
position:absolute;
z-index:99;
background:#FFF
}

#top #top_search form div .autocomplete ul {
border-top:1px solid #c8c8c8;
list-style:none;
width:100%;
padding:0
}

#top #top_search form div .autocomplete ul li {
border-bottom:1px solid #c8c8c8;
cursor:pointer;
padding:0.3em 1em
}

#top #top_search form div .autocomplete ul li.selected {
background-color: #ffb
}

#top_add {
float:left;
width:100%;
margin-right:0;
margin-left:0;
position:relative
}

#top_add #news {
float:left;
width:27%;
left:4%;
position:relative;
margin:2em 1%
}

#top_add #news div {
font-size:0.9em;
color:#868686
}

#top_add #news div div {
margin-left:1em
}

#top_add #news div h3 {
max-height:3.1em;
overflow:hidden;
font-size:1.2em;
font-weight:400;
margin:0.65em 0 0
}

#top_add #news div h3 a {
text-decoration:none;
color:#535353
}

#top_add #cinema_posters {
background:#FFF;
float:left;
width:61%;
left:4%;
position:relative;
margin:2em 1%
}

#top_add #cinema_posters .scrl_left,#top_add #cinema_posters .scrl_right {
font-weight:700;
display:block;
cursor:pointer;
line-height:15px
}

#top_add #cinema_posters .scrl_right {
left:auto !important;
right:1em
}

#top_add #cinema_posters .scrl_left {
left:auto !important;
right:4em
}

#top_add #cinema_posters div .lists {
display:block;
list-style:none;
overflow:hidden;
white-space:nowrap;
margin:2em 1em;
padding:0
}

#top_add #cinema_posters div .lists ul {
display:inline-block;
width:96%
}

#top_add #cinema_posters div .lists li {
width:33.33%;
display:inline-block;
vertical-align:top;
font-size:0.9em;
line-height:1.2em
}

#top_add #cinema_posters div .lists li span {
display:inline-block;
float:left;
height:149px;
width:108px;
overflow:hidden;
position:relative
}

#top_add #cinema_posters div .lists li span img {
margin:2px 0 0 4px
}

#top_add #cinema_posters div .lists li span:before {
content:"";
height:149px;
width:108px;
position:absolute;
background:url(/images/poster_template_tiny.png) no-repeat
}

#top_add #cinema_posters div .lists li div {
margin-left:108px;
white-space:normal !important
}

#top_add #cinema_posters div .lists li div h5 {
color:#779d1d;
margin-bottom:0.5em
}

#top_add #cinema_posters div .lists li div h6 {
font-weight:400;
margin-bottom:0.5em
}

#menu_2,#menu_3 {
font-size:1em;
display:inline-block;
color:#535353;
list-style:none;
margin:0;
padding:0
}

#menu_2 li,#menu_3 li {
display:inline-block;
margin:0;
padding:0
}

#menu_2 span,#menu_3 span {
color:#f6f6f6;
background:#535353
}

#menu_2 span,#menu_2 a,#menu_3 span,#menu_3 a {
padding:0 0.4em 0 0
}

#content_body {
float:left;
width:92%;
margin-right:0;
margin-left:0;
padding-left:4%;
padding-right:4%;
position:relative
}

#content_body #content {
margin-right:310px;
padding-right:2%;
padding-top:3em;
position:relative
}

#content_body #content .label {
position:absolute;
z-index:50;
left:-4%;
margin-left:-15px;
top:-2.5em;
color:#FFF;
background:url(/images/plates.png) no-repeat bottom left;
height:19px;
text-align:left;
font-size:1.2em;
padding:4px 10px 5px 40px
}

#content_body #content .film_item {
float:left;
width:31%;
margin-right:1%;
margin-left:1%;
text-align:center;
padding-bottom:1em;
display:inline-block;
vertical-align:top;
height:356px
}

#content_body #content .film_item span {
display:inline-block;
height:250px;
width:180px;
overflow:hidden;
position:relative;
text-align:left
}

#content_body #content .film_item span img {
margin:4px 0 0 5px
}

#content_body #content .film_item span:before {
content:"";
height:250px;
width:180px;
position:absolute;
background:url(/images/poster_template.png) no-repeat
}

#content_body #content .film_item a {
font-weight:700;
text-decoration:none
}

#content_body #content .film_item div {
width:170px;
text-align:left;
line-height:1.1em;
margin:0 auto
}

#content_body #content .film_item div div.info {
width:auto;
margin:0 32px 0 0;
}

#content_body #content .film_item div a.vote {
display:inline;
width:auto;
border-bottom:1px dashed
}

#content_body #content .film_item div a.vote:hover {
border-bottom:none
}

#content_body #new {
text-align:center;
height:1424px;
position:relative
}

#content_body #raitings {
margin:3em 0 0;
width:100%;
float:left;
}

#content_body #raitings #user_raiting,#content_body #raitings #film_raiting {
float:left;
width:48%;
margin-right:1%;
margin-left:1%;
background:#FFF
}

#content_body #raitings #user_raiting .r_container,#content_body #raitings #film_raiting .r_container {
padding:1em 0 0
}

#content_body #raitings #user_raiting ol,#content_body #raitings #film_raiting ol {
margin:0;
padding:0
}

#content_body #raitings #user_raiting ol li,#content_body #raitings #film_raiting ol li {
padding:0.5em 1em
}

#content_body #raitings #user_raiting ol li:hover,#content_body #raitings #film_raiting ol li:hover {
background:#ddd
}

#content_body #pub_date {
display:block
}

#content_body #posters {
text-align:center;
position:relative;
margin-bottom:2em
}

#content_body #posters #big_poster {
max-width:540px
}

#content_body #frames ul li {
display:inline-block;
background:url(data:image/gif;base64,R0lGODlhCQBtAJECADQ0NGZmZjk5OQAAACH5BAEAAAIALAAAAAAJAG0AAAIyjI+pa+LqBHysWgOy3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zve+fwkuIhNJgihMGgoAOw==) repeat-x;
margin:0 0.7em 1em 0;
padding:15px 5px;
vertical-align:top
}

#content_body #frames ul li a {
display:block;
height:80px;
overflow:hidden
}

#content_body #film_desc ul {
display:table;
width:100%;
padding:0
}

#content_body #film_desc ul li {
display:table-row
}

#content_body #film_desc ul li strong {
padding-right:1em
}

#content_body #film_desc ul li strong,#content_body #film_desc ul li span {
display:table-cell;
padding-top:0.4em;
padding-bottom:0.4em;
border-bottom:1px dashed;
border-bottom-color:#909090
}

#content_body #film_trailers {
margin-bottom:2em;
background:#eee;
border:1px solid;
border-color:#909090;
padding:1em
}

#content_body #film_links,#content_body #draft_list {
position:relative;
margin:4em 0 2em
}

#content_body #film_links ul li,#content_body #draft_list ul li {
display:block;
border-bottom:1px dashed;
border-bottom-color:#909090;
padding:0.5em 0
}

#content_body #draft_list {
margin:0 0 2em
}

#content_body #draft_list li {
padding:0.5em
}

#content_body #draft_list li:hover {
background:#e9e9e9
}

#content_body #film_vote {
margin-bottom:2em;
background:#eee;
padding:0.5em 1em
}

#content_body #film_forms #add_comment {
position:relative;
margin-top:3em;
float:left;
width:100%;
margin-right:0;
margin-left:0
}

#content_body #film_forms #add_comment div {
width:100%;
margin:0;
padding:0
}

#content_body #film_forms #add_comment div ul {
line-height:1em;
list-style:none;
display:inline-block;
margin:0;
padding:0
}

#content_body #film_forms #add_comment div ul li {
display:inline;
margin:0 0.2em
}

#content_body #film_forms #add_comment div.permited {
width:auto;
color:#000;
margin:0;
padding:0
}

#content_body #comments {
position:relative;
margin:0 0 2em
}

#content_body #comments ul {
list-style:none;
margin:2em 0 0
}

#content_body #comments ul li {
float:left;
width:100%;
margin:1em 0 2em
}

#content_body #comments ul li .author {
width:110px;
float:left;
position:relative;
z-index:51
}

#content_body #comments ul li .author:after {
content:"";
display:block;
width:33px;
height:26px;
position:absolute;
z-index:52;
top:20px;
right:-1px;
background:url(data:image/gif;base64,R0lGODlhIQAaAJEAAP///+np6ff3997e3iH5BAAAAAAALAAAAAAhABoAAAJrlI+pi8EP0XCxpjCB3QILoHFRBobi4pXgqWCBWrLN8MGr7Noqm+v7hiH5dhPKJegY6jqB4OD5bNaUS2ZtSqUepNnuzdDzKhUTrBiGEp5/6dc6BgmfLfIux2UenpplLc6VZCPT4CQ1GMc3UAAAOw==) no-repeat
}

#content_body #comments ul li .author img {
border:1px solid;
border-color:#767676
}

#content_body #comments ul li .author a {
display:block;
font-size:1em
}

#content_body #comments ul li .comment {
margin-left:110px;
position:relative;
z-index:10;
background:#FFF
}

#content_body #comments ul li .comment .r_container {
padding:3em 2em 2em
}

#content_body #comments ul li .date {
color:#767676;
text-align:left;
position:absolute;
top:0.75em;
font-size:0.9em
}

#content_body #about_cat {
margin-bottom:2em;
float:left;
width:98%;
margin-right:1%;
margin-left:1%
}

#content_body #about_cat #about_cat_text {
margin-right:150px;
background:#FFF
}

#content_body #about_cat #about_cat_text .r_container {
padding:1em
}

#content_body #about_cat #hero {
float:right;
position:relative
}

#content_body #about_cat #hero:before {
content:"";
display:block;
width:33px;
height:26px;
position:absolute;
z-index:52;
top:6em;
left:-26px;
background:url(data:image/gif;base64,R0lGODlhIQAaAJEAAP///+np6ff3997e3iH5BAAAAAAALAAAAAAhABoAAAJq3IKiy+2/kDkBWgeyBkKma21i1lEgNqZldSrpmwVHC9cyG9b2DOn+/fD5SiihDrgwCjs4ZU1A+jg1zIkVUXGWTA4JVCjj0Y7ilguGNDNegrI6OUq/15s2bt7YyPA5Oz8k99ewJ2hxV+hQAAA7) no-repeat
}

#content_body #cat_films {
position:relative;
text-align:center;
margin-top:3em;
float:left;
width:100%;
margin-right:0;
margin-left:0
}

#content_body .steps {
display:table;
width:100%;
margin-bottom:1em
}

#content_body .steps ol {
display:table-row;
background:#FFF
}

#content_body .steps ol li {
display:table-cell;
background:url(data:image/gif;base64,R0lGODlhFAAgAJEDAP////b29v39/fT09CH5BAEAAAMALAAAAAAUACAAAAJcjCOgyz2HmlzjnTRdhTirul3eB1pGN5Xh6alrlLomrMmcJIM3k+si1Xt1gj4WgFiMIJOCZdI5Oy4hJCK12rtibYca14DLaXnfQKbcKkHM6Re7vR6R4vIjvX6vFwAAOw==) right no-repeat;
padding:0.5em 1em
}

#content_body .steps ol li.active {
background-color:#fcc863
}

#content_body .steps ol li.active:after {
content:"";
display:block;
width:20px;
height:2.4em;
position:absolute;
margin-top:-1.9em;
margin-left:-2.5em;
background:url(data:image/gif;base64,R0lGODlhFAAgAJEDAPb08vzIZPvRf/T09CH5BAEAAAMALAAAAAAUACAAAAJchCGhyz2HmlzjnTRdhTirul3eB1pGN5Xh6alrlLomrMmcJIM3k+si1Xt1gj5WgFiMIJOCZdI5ay5v0wMwCOFhrdpctub6gkvi8atFLuOSgNHx1XbD3R9InG6nLwoAOw==) no-repeat
}

#content_body .steps ol li.first:after {
display:none
}

#content_body .steps ol li.last {
background-image:url(data:image/gif;base64,R0lGODlhFAAgAJEDAPb29vX19fT09PT09CH5BAEAAAMALAAAAAAUACAAAAJMDI6pObbPGpyjuqmqxVlLfngbKI5YaUJouqxs5F6d+820HNIarnty74H1fkDesKXD5WIqZhOlFPo4UJJHAFoOsFmAhtutgMPjbrlbAAA7);
background-position:right;
background-repeat:no-repeat
}

#content_body #userinfo_ava {
margin-bottom:2em;
float:left;
width:29%;
margin-right:0;
margin-left:0;
padding-right:4%
}

#content_body #userinfo_site {
margin-bottom:2em;
float:left;
width:63%;
margin-right:0;
margin-left:0;
padding-right:4%
}

#content_body #userinfo_about {
margin-bottom:2em;
float:left;
width:100%;
margin-right:0;
margin-left:0
}

#content_body #search_field {
background:#FFF
}

#content_body #search_field .r_container {
padding:1em 1.5em
}

#content_body #search_result img {
max-width:100px
}

#content_body .news_text_date {
position:relative;
top:-1em;
color:#909090
}

#content_body #sidebar {
width:300px;
float:right;
position:relative
}

#content_body #sidebar #register {
background:#FFF;
position:relative;
margin-top:3em
}

#content_body #sidebar #register .userinfo {
padding:2em 2em 1em 2em
}

#content_body #sidebar #register .userinfo p {
margin-bottom:0.5em
}

#content_body #sidebar #register .r_container form div {
width:auto !important
}

#content_body #sidebar #register .r_container form h5 {
color:#000;
margin:0
}

#content_body #sidebar #register .r_container form input {
width:100%;
margin:0
}

#content_body #sidebar #register .r_container form a {
float:right;
display:block;
margin-top:1em
}

#content_body #sidebar #category_list ul, #content_body #sidebar #afisha_films_list ul {
list-style:none;
margin:0;
padding:2em 2em 1em 2em
}

#content_body #sidebar #category_list ul li a, #content_body #sidebar #afisha_films_list ul li a {
text-decoration:none
}

#content_body #sidebar #category_list ul li a:hover, #content_body #sidebar #afisha_films_list ul li a:hover {
text-decoration:underline
}

#content_body #sidebar #category_list ul li span,#content_body #sidebar #category_list ul li a {
white-space:nowrap
}

#content_body #sidebar #category_list ul li span, #content_body #sidebar #afisha_films_list ul li span {
display:inline-block;
height:26px;
background:url(/images/plates.png) 5px bottom no-repeat;
color:#FFF;
font-weight:700;
position:relative;
left:-3em;
padding:0.2em 0.5em 0 3em
}

#content_body #sidebar #last_comments ul {
list-style:none;
margin:0;
padding:2em 1em 2em 2em
}

#content_body #sidebar #last_comments ul li a.author {
background:#779d1d;
color:#FFF;
text-decoration:none;
padding:0 0.25em
}

#content_body #sidebar #last_comments ul li a.author:hover {
background:#98c825;
color:#FFF !important
}

#content_body #sidebar #last_comments ul li a.film {
color:#000
}

#content_body #search_result {
list-style:none;
margin:2em 0;
padding:0
}

#content_body #search_result li {
margin:0 0 2em;
padding:0;
float:left;
}

#content_body #search_result li .short_desc {
margin-left:110px
}

#content_body #search_result li .short_info {
color:#535353;
padding-left:1em
}

#content_body #search_result li img {
float:left;
margin-right:1em
}

.digg_pagination {
margin-bottom:1em;
float:left; 
width:100%
}

.digg_pagination a,.digg_pagination span {
display:block;
float:left;
margin-right:1px;
padding:.2em .5em
}

.digg_pagination span.disabled {
color:#535353 !important;
border:1px solid;
border-color:#535353
}

.digg_pagination span.current {
font-weight:700;
background:#98c825;
color:#FFF;
border:1px solid;
border-color:#779d1d
}

.digg_pagination a {
text-decoration:none;
border:1px solid
}

.digg_pagination a:hover,.digg_pagination a:focus {
color:#535353 !important;
border-color:#535353
}

#footer #f_content {
float:left;
width:98%;
margin-right:1%;
margin-left:1%;
margin-top:40px;
border-top:2px solid #98c825
}

#footer #f_content #menu_3 {
float:left;
width:56%;
margin-right:1%;
margin-left:1%;
text-align:center;
font-size:0.9em
}

#footer #f_content #menu_3 li {
padding-top:1em
}

#footer #f_content address {
float:left;
width:19%;
margin-right:1%;
margin-left:1%;
margin-top:1em
}

.top_plate a:hover,#top #feeds #twitter a:hover,#top_add #cinema_posters .scrl_right:hover,#top_add #cinema_posters .scrl_left:hover {
color:#535353 !important
}

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img,li ul,li ol,fieldset input[type=button],fieldset input[type=submit],#content_body #film_forms #add_comment div input,#content_body #film_forms #add_comment div textarea {
margin:0
}

p,dl {
margin:0 0 1.5em
}

strong,dl dt,label {
font-weight:700
}

input:focus,textarea:focus,select:focus {
outline:1px solid #fcc863
}

form div.submit,form .rows div.submit,#footer #f_content address#_4art {
text-align:right
}

form.inline p,#content_body #film_forms {
margin-bottom:0
}

.form_body,.add_film_listers .l {
float:left
}

.form_body:after,#supervisor2:after,.clearfix:after,#top:after,#top_add:after,#top_add #cinema_posters div .lists li:after,#content_body:after,#content_body #new:after,#content_body #raitings:after,#content_body #film_forms:after,#content_body #comments ul li:after,#content_body #about_cat:after,#content_body #userinfo_ava:after,#content_body #userinfo_site:after,#content_body #userinfo_about:after,.digg_pagination:after {
content:"";
display:block;
height:0;
clear:both
}

#content_body #search_result li:after{
content:"";
display:block;
height:0
}

#top #menu_1 ul,#content_body #frames ul,#content_body #film_links ul,#content_body #draft_list ul {
list-style:none;
margin:0;
padding:0
}

#top #menu_1 span,#menu_2 a,#menu_3 a {
color:#535353
}

#top_add #news .r_container,#top_add #cinema_posters .r_container {
height:200px;
padding:1em 0 0
}

#content_body #content .film_item .vote_smile,#content_body #raitings #user_raiting ol li strong,#content_body #raitings #film_raiting ol li strong,#content_body #draft_list span {
float:right
}

#content_body #frames,#content_body #film_desc {
margin-bottom:2em
}

#content_body #entrance,#footer {
float:left;
width:98%;
margin-right:1%;
margin-left:1%
}

#content_body #sidebar #category_list,#content_body #sidebar #afisha_films_list,#content_body #sidebar #last_comments {
background:#FFF;
position:relative;
margin-top:4em
}

#content_body #sidebar #category_list .r_container,#content_body #sidebar #afisha_films_list .r_container,#content_body #sidebar #last_comments .r_container {
padding:0
}

#content_body #sidebar #category_list ul li,#content_body #sidebar #afisha_films_list ul li,#content_body #sidebar #last_comments ul li {
line-height:1.5em
}


#affiche_dates {
  background: #fcfcfc; }
  #affiche_dates ul {
    margin: 0;
    padding: 1em 0;
    text-align: center; }
    #affiche_dates ul li {
      list-style: none;
      display: inline-block;
      text-align: center;
      width: 9%;
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 0.9em;
      color: #aaaaaa; }
      #affiche_dates ul li a, #affiche_dates ul li span {
        display: inline-block;
        width: 49px;
        height: 36px;
        padding: 10px 0 0 0;
        background: url(../images/aff_dates_green.png) no-repeat;
        text-shadow: 0 -1px #c5c5c5;
        color: #98c825;
        text-decoration: none; }
        #affiche_dates ul li a strong, #affiche_dates ul li span strong {
          display: block;
          font-size: 2em;
          line-height: 0.75em; }
      #affiche_dates ul li span {
        color: #fcc863;
        background: url(../images/aff_dates_orange.png) no-repeat; }
  #affiche_dates .aff_location {
    padding-bottom: 1em; }
    #affiche_dates .aff_location .country, #affiche_dates .aff_location .city {
      width: 25%;
      display: inline-block;
      padding-right: 2em; }

.affiche_data {
  position: relative;
  margin-top: 4em; }
  .affiche_data .label {
    top: -2em!important; }
  .affiche_data .all {
    position: absolute;
    top: -2.7em;
    right: 0;
    text-align: right; }

.select {
  position: relative;
  height: 2em; }
  .select .round {
    width: 100%;
    position: absolute!important;
    z-index: 99; }
    .select .round .r_container {
      min-height: 1.6em;
      padding: 0;
      background: url(data:image/gif;base64,R0lGODlhEgASALMPALLSZajJWsPcifv9+LrWd+3z4OHsxtTkruz02vDz6KrKW7bXaKbHWLXWZ/b29v///yH5BAEAAA8ALAAAAAASABIAAAR88MlJq704652HEYQgGENWCEuqCsiFqLDaUoPQ3HgulJPREAdCAzBcHAQAAwV5cBQWgKjBYQAIKFFCwoGQOhwEIlah0FKbDoEiugSQCd+vmnztBcgKtAGvUE4GBAEBDAAFCYGCBDwTBQoMj5CPCgUXh5GPBJQYHgJ3I4sUEQA7) no-repeat top right; }
      .select .round .r_container .select_top, .select .round .r_container .select_list div {
        padding: 0 0.5em; }
    .select .round .select_list {
      display: none; }
      .select .round .select_list div:hover {
        background: #98c825;
        cursor: pointer; }
    .select .round:hover .select_list {
      display: block; }

#cinema_info {
  padding: 0 0 2em 0; }
  #cinema_info .back {
    display: inline-block;
    padding: 0.5em 1em 0.5em 2em;
    background: #98c825 url(data:image/gif;base64,R0lGODlhFAAgAJEDAPb29vX19fT09AAAACH5BAEAAAMALAAAAAAUACAAAAJNhI+JoZ0xnIRRKlrtwVnzPg3iqAGf6I0q+Kxq6JLNuc5x3d7vouMGfUP0XLyhbGNE5YY2ZlMHC0aJFmCJVjIIfKXtMetlabzZxLZsLgAAOw==) left no-repeat;
    color: white;
    text-decoration: none;
    margin-bottom: 1em; }
    #cinema_info .back:hover {
      background-color: #afdc44;
      color: white !important; }
  #cinema_info .cinema_name {
    display: inline-block;
    vertical-align: top;
    padding-right: 2em; }
    #cinema_info .cinema_name .poster {
      display: inline-block;
      height: 250px;
      width: 180px;
      overflow: hidden;
      position: relative;
      text-align: left; }
      #cinema_info .cinema_name .poster img {
        margin: 4px 0 0 5px; }
      #cinema_info .cinema_name .poster:before {
        content: "";
        height: 250px;
        width: 180px;
        position: absolute;
        background: url(../images/poster_template.png) no-repeat; }
  #cinema_info .cinema_address {
    display: inline-block;
    vertical-align: top;
    width: auto!important; }
  #cinema_info #film_desc {
    display: inline-block;
    vertical-align: top; }
    #cinema_info #film_desc ul {
      width: auto; }



.add_list{
	list-style:none;
	padding-left:0;
}

.add_list .img{
	float: left; 
	width: 100px
}

.add_list .file{
	margin-left: 130px; 
	min-height: 100px
}

.add_list li{
border-bottom:1px dashed;
}


.css_button, .css_button:visited{ 
	background: #222 url(/images/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-opera-border-radius: 6px;
	border-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-opera-border-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	background-color: #91bd09;
}

.css_button:hover				        { background-color: #749a02; color: #fff !important }
.css_button:focus				        { outline:none }

.small.css_button, .small.css_button:visited { font-size: 11px}

#content_body #sidebar #afisha_films_list .selector {
	font-size:0.8em;
	width:100%;
	margin:0;
	padding:0;
	height:auto;
	text-align:center;
}

#content_body #sidebar #afisha_films_list .selector select {
	margin:2em 0 0 0;
	padding:0;
}
